---
layout: default
---


<article class="post">
  <h1>{{ page.title }}</h1>


<!--   <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {{ page.date | date: date_format }}
  </time> -->


  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>


  {% include disqus.html %}
</article>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

